*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: "Mulish", sans-serif;
    background-color: #0b0c2a;
    line-height: 1.15px;
}

header{
    background: #070720;
}

/* .boxcenter{
    width: 60%;
    margin: 0 auto;
}

.row{
    float: left;
    width: 100%;
}

.mb{
    margin-bottom: 30px;
}

.mb-20{
    margin-bottom: 20px;
}   

.mb-10{
    margin-bottom: 10px;
}

.mr{
    margin-right: 2%;
}

.demo{
    background-color: antiquewhite;
    min-height: 100px;
}

.header{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}

.header h1{
    margin: 20px;
    font-size: 1.2 vw;
}

.menu{
    background-color: black;
    color: #fff;
    border-radius: 5px;
}

.menu ul{
    margin: 15px 0;
    padding: 0px 15px;
    list-style: none;
}

.menu ul li{
    display: inline;
    padding: 0px 15px;
}

.menu ul li a{
    color:#ccc;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover{
    color: #fff;
    font-size: 0.8vw;
}

.left-box{
    float: left;
    width: 74%;
}

.right-box{
    float: left;
    width: 24%;
}

.cate-menu ul{
    list-style: none;
}

.cate-menu ul li{
    padding: 10px 20px;
    background-color: #eee;
    border-bottom: 1px #ccc solid;
}

.cate-menu ul li a{
    color: #666;
    text-decoration: none;
}

.cate-menu ul li:hover{
    background-color: #ccc;
}

.box-title{
    padding: 10PX;
    background-color: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.box-content{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    min-height: 200px;
    padding: 20px;
}

.form-acc{
   line-height: 150%;
}

.form-acc input[type="text"],
.form-acc input[type="password"],
.frmcontent input[type="text"]{
    width: 100%;
    border: 1px #ccc solid;
    padding:5px 10px;
    border-radius: 5px;
}

.form-acc input[type="checkbox"]{
    border-radius: 5px;
}

.form-acc input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"]{
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: .5s;
}

.form-acc input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover{
    background-color: #ccc;
}

.form-acc ul{
    list-style: none;
}

.form-acc li a{
    color: teal;
    text-decoration: none;
}

.form-acc li a:hover{
    color: #063;
    text-decoration: underline;
}

.box-content-2{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

.box-footer{
    padding: 10PX;
    background-color: #eee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}

.box-footer .search-box{
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.banner{
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.banner img{
    height: 300;
}

.box-prd{
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-prd .img{
    min-height: 250px;
    text-align: center;
}

.img img{
    width: 60%;
    height: 220px;
}

.top-items img{
    width: 20%;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

.top-items a{
    color: #666;
    text-decoration: none;
}

.top-items a:hover{
    color: #000;
    text-decoration: underline;
}

.footer{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
} */

/* //ADMIN */

/* .header-admin{
    background-color: #eee;
    border: 1px solid #eee;
    color: #666;
    border-radius: 5px;
    padding: 10px 20px;
    
}

.header-admin h1{
    font-size: 2vw;
}

.frmtitle{
    background-color: #eee;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmcontent{
    padding: 20px 0px;
}
 */

/* CATE-LIST */

/* .frmcate-list table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.frmcate-list table th:nth-child(1){
    width: 10%;
    padding: 20px 0px;
    background-color: #ccc;
} */
/* .frmcate-list table th:nth-child(2){
    background-color: #ccc;
    width: 30%;
}
.frmcate-list table th:nth-child(3){
    background-color: #ccc;
    width: 40%;
}
.frmcate-list table th:nth-child(4){
    background-color: #ccc;
    width: 20%;
} */

/* .frmcate-list table td{
    padding: 10px 20px;
    border: 1px solid #ccc;
}

.frmcate-list table td:nth-child(1),
.frmcate-list table td:nth-child(4){
    text-align: center;
}    */